.card-width{
    width: 18rem;
}

.extra-mt{
    margin-top: 16vh !important;
}

.container-cart{
    max-width: 600px;
    margin: auto;
}

.container-card-toggler{
    max-width: 100px;
    margin: auto;
}

.container-cartSummary{
    width: 90%;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

.container-chekcout{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.container-texto{
    width: 90%;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

.button-icon-container{
    width: 30px;
    height: 31px;
    background-color: transparent;
    border: none;
}

.button-cart-icon{
    width: 36px;
    height: 28px;
    background-color: transparent;
    border: none;
}

.button-circle{
    border-radius: 50%;
    width: 2rem;
    height: auto;
    color: white;
    background-color: red;
}
.input-qty{
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.card-shadow{
    width: 288px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10%;
}

.color-blue{
    background-color: rgb(80, 134, 193);
}

.color-light{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);

}
